In [2]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [3]:
with open ('yelp_academic_dataset_business.json', 'r') as f:
    business_data = [json.loads(line) for line in f]
business_df = pd.DataFrame(business_data)

In [4]:
with open ('yelp_academic_dataset_checkin.json', 'r') as f:
    checkin_data = [json.loads(line) for line in f]
checkin_df = pd.DataFrame(checkin_data)

In [5]:
with open ('yelp_academic_dataset_review.json', 'r') as f:
    review_data = [json.loads(line) for line in f]
review_df = pd.DataFrame(review_data)

In [6]:
with open ('yelp_academic_dataset_tip.json', 'r') as f:
    tip_data = [json.loads(line) for line in f]
tip_df = pd.DataFrame(tip_data)

In [7]:
with open ('yelp_academic_dataset_user.json', 'r') as f:
    user_data = [json.loads(line) for line in f]
user_df = pd.DataFrame(user_data)

In [8]:
print(business_df.shape)
print(checkin_df.shape)
print(review_df.shape)
print(tip_df.shape)
print(user_df.shape)

(150346, 14)
(131930, 2)
(6990280, 9)
(908915, 5)
(1987897, 22)

In [9]:
business_df.drop(['attributes', 'hours'], axis = 1, inplace = True)

In [10]:
engine = create_engine ('sqlite:///yelp.db')

def load_dataframe(df, table_name, engine):
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)

#loading each DataFrame into a separate table

load_dataframe(business_df, 'business', engine)
load_dataframe(review_df, 'review', engine)
load_dataframe(user_df, 'user', engine)
load_dataframe(tip_df, 'tip', engine)
load_dataframe(checkin_df, 'checkin', engine)